# Instalação e setup

[![](https://img.shields.io/badge/PyPi-ffffff?style=for-the-badge&logo=pypi)](https://pypi.org/)

- jupyter 1.0.0 - /project/jupyter/
- pandas 1.3.4 - /project/pandas/
- openpyxl 3.0.9 - /project/openpyxl/
- xlwt 1.3.0 - /project/xlwt/
- xlrd 2.0.1 - /project/xlrd/

# Download dos dados

[![](https://img.shields.io/badge/Stack%20Overflow-ffffff?style=for-the-badge&logo=stackoverflow)](https://insights.stackoverflow.com/survey)

# Introdução

### Para importar a biblioteca pandas

In [1]:
import pandas as pd

### Para importar a biblioteca numpy

In [2]:
import numpy as np

### Para ler o CSV com as perguntas

In [3]:
questions = pd.read_csv("stack-overflow-developer-survey-2021/survey_results_schema.csv")

### Para visualizar o respetivo DataFrame

In [4]:
questions

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID24,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
6,QID7,US_State,<p>In which state or territory of the USA do y...,False,MC,DL
7,QID9,UK_Country,In which part of the United Kingdom do you liv...,False,MC,DL
8,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
9,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
10,QID149,Age1stCode,At what age did you write your first line of c...,False,MC,MAVR
11,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,SB
17,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
18,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
19,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
20,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
21,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
22,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
23,QID264,Webframe,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
24,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
25,QID275,ToolsTech,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
26,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
27,QID71,OpSys,What is the primary operating system in which ...,False,MC,SAVR
28,QID243,NEWStuck,What do you do when you get stuck on a problem...,False,MC,MAVR
29,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
30,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
31,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
32,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
33,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
34,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
35,QID267,NEWOtherComms,Are you a member of any other online developer...,False,MC,MAVR
36,QID268,NEWOtherCommsNames,Please name up to 5 other online developer com...,False,Matrix,Likert
37,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID127,Age,What is your age?,False,MC,MAVR
39,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
40,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
41,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
42,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
43,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
45,QID131,S6,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
46,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
47,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

### Para ler o CSV com as respostas

In [5]:
answers = pd.read_csv("stack-overflow-developer-survey-2021/survey_results_public.csv")

### Para visualizar o respetivo DataFrame

In [6]:
answers

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

### Para visualizar o número de linhas e colunas do DataFrame

In [7]:
answers.shape

(83439, 48)

### Para visualizar informação detalhada acerca do DataFrame

In [8]:
answers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

### Para visualizar o número máximo de colunas do DataFrame

In [9]:
pd.set_option("display.max_columns", 48)

In [10]:
answers

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

### Para visualizar as 5 primeiras linhas do DataFrame

In [11]:
answers.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

### Para visualizar as 10 primeiras linhas do DataFrame

In [12]:
answers.head(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
5,6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
6,7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
7,8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,Ruby,MySQL;PostgreSQL;SQLite,PostgreSQL,Heroku;Microsoft Azure,Heroku,Angular.js;jQuery;Ruby on Rails,Ruby on Rails,NaN,NaN,NaN,NaN,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,4,"Developer, front-end","10,000 or more employees",INR\tIndian rupee,NaN,Monthly,HTML/CSS;JavaScript,HTML/CSS;JavaScript,PostgreSQL,PostgreSQL,AWS,NaN,Django;FastAPI,Django;FastAPI,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,PyCharm;Sublime Text,PyCharm;Sublime Text,Windows,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, definitely",No,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
9,10,I am a developer by profession,Employed full-time,Sweden,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School,7,4,Data scientist or machine learning specialist,10 to 19 employees,SEK\tSwedish krona,42000.0,Monthly,C++;Python,Haskell;Python,PostgreSQL,NaN,NaN,NaN,NaN,NaN,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;TensorFlow;Torch/PyTorch,Git,Git,IPython/Jupyter;Vim;Visual Studio Code,Emacs;IPython/Jupyter;Vim;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Daily or almost daily,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,51552.0

### Para visualizar as 5 últimas linhas do DataFrame

In [13]:
answers.tail()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

### Para visualizar as 10 últimas linhas do DataFrame

In [14]:
answers.tail(10)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
83429,83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83430,83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83431,83432,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Pakistan,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,4,"Developer, mobile;Developer, desktop or enterp...",2 to 9 employees,PKR\tPakistani rupee,150000.0,Monthly,C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...,C#;Dart;HTML/CSS;JavaScript;Kotlin;Node.js;Pyt...,Firebase;MySQL;SQLite,DynamoDB;Firebase;MongoDB;MySQL;SQLite,Google Cloud Platform,AWS;Google Cloud Platform,Flask;jQuery,Angular;Django;Flask;jQuery;Laravel,Flutter,Flutter;Hadoop;NumPy;TensorFlow;Torch/PyTorch,Git,Docker;Git,Android Studio;IntelliJ;IPython/Jupyter;Notepa...,Android Studio;IntelliJ;IPython/Jupyter;PyChar...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,Southeast Asian,None of the above,None of the above,Appropriate in length,Easy,11676.0
83432,83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,Less than 1 year,"Developer, back-end","10,000 or more employees",CAD\tCanadian dollar,106000.0,Yearly,Ruby,Java;Ruby;TypeScript,MySQL;PostgreSQL,NaN,Google Cloud Platform;Heroku,NaN,Flask;React.js;Ruby on Rails;Vue.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,Docker;Git;Kubernetes;Yarn,NaN,Atom;IPython/Jupyter;Vim;Visual Studio Code,NaN,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,"No, not really",No,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0
83433,83434,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Brazil,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Online Forum;Online Courses or Certification;O...,15,11,"Developer, mobile;Developer, front-end;Develop...","1,000 to 4,999 employees",BRL\tBrazilian real,80000.0,Yearly,Java;JavaScript;Kotlin;Objective-C;TypeScript,Kotlin,Firebase;MongoDB;MySQL;SQLite,NaN,NaN,NaN,React.js,NaN,React Native,Flutter,Docker;Git;Yarn,Docker;Git,Android Studio;Visual Studio Code;Xcode,Android Studio;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,I have an anxiety disorder,Appropriate in length,Easy,18326.0
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

## DataFrames e Series

### Para criar um DataFrame

In [15]:
students = {
    "name": ["Francisco Gonçalves", "Carlos Costa", "Maria Almeida"],
    "number": [76433, 78944, 74822],
    "course": ["Direito", "Biologia", "Arquitetura"]
}

In [16]:
students_df = pd.DataFrame(students)

In [17]:
students_df

                  name  number       course
0  Francisco Gonçalves   76433      Direito
1         Carlos Costa   78944     Biologia
2        Maria Almeida   74822  Arquitetura

### Para aceder a uma certa coluna do DataFrame

In [18]:
students_df["course"]

0        Direito
1       Biologia
2    Arquitetura
Name: course, dtype: object

In [19]:
students_df.course

0        Direito
1       Biologia
2    Arquitetura
Name: course, dtype: object

### Para aceder a múltiplas colunas do DataFrame

In [20]:
students_df[["number", "course"]]

   number       course
0   76433      Direito
1   78944     Biologia
2   74822  Arquitetura

### Para aceder aos rótulos de todas as colunas do DataFrame

In [21]:
students_df.columns

Index(['name', 'number', 'course'], dtype='object')

### Para aceder à informação do primeiro aluno

In [22]:
students_df.iloc[0]

name      Francisco Gonçalves
number                  76433
course                Direito
Name: 0, dtype: object

In [23]:
students_df.loc[0]

name      Francisco Gonçalves
number                  76433
course                Direito
Name: 0, dtype: object

### Para aceder à informação dos dois primeiros alunos

In [24]:
students_df.iloc[[0,1]]

                  name  number    course
0  Francisco Gonçalves   76433   Direito
1         Carlos Costa   78944  Biologia

In [25]:
students_df.loc[[0,1]]

                  name  number    course
0  Francisco Gonçalves   76433   Direito
1         Carlos Costa   78944  Biologia

### Para aceder ao curso dos dois primeiros alunos

In [26]:
students_df.iloc[[0,1], 2]

0     Direito
1    Biologia
Name: course, dtype: object

In [27]:
students_df.loc[[0,1], "course"]

0     Direito
1    Biologia
Name: course, dtype: object

### Para aceder ao número e ao curso dos dois primeiros alunos

In [28]:
students_df.iloc[[0,1], [1,2]]

   number    course
0   76433   Direito
1   78944  Biologia

In [29]:
students_df.iloc[0:2, 1:3]

   number    course
0   76433   Direito
1   78944  Biologia

In [30]:
students_df.loc[[0,1], ["number", "course"]]

   number    course
0   76433   Direito
1   78944  Biologia

In [31]:
students_df.loc[0:1, "number":"course"]

   number    course
0   76433   Direito
1   78944  Biologia

<span style="color:red">Nota:</span><br />
- `iloc` é baseado nas posições inteiras<br />
- `loc` é baseado nos rótulos

## Índices

### Para visualizar o índice do DataFrame

In [32]:
students_df.index

RangeIndex(start=0, stop=3, step=1)

### Para definir a coluna _course_ como o novo índice

In [33]:
students_df.set_index("course", inplace = True)

In [34]:
students_df

                            name  number
course
Direito      Francisco Gonçalves   76433
Biologia            Carlos Costa   78944
Arquitetura        Maria Almeida   74822

### Para redefinir o índice

In [35]:
students_df.reset_index(inplace=True)

In [36]:
students_df

        course                 name  number
0      Direito  Francisco Gonçalves   76433
1     Biologia         Carlos Costa   78944
2  Arquitetura        Maria Almeida   74822

### Para definir a coluna _qname_ como índice aquando da leitura do CSV com as perguntas

In [37]:
questions = pd.read_csv("stack-overflow-developer-survey-2021/survey_results_schema.csv", index_col = "qname")

In [38]:
questions

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
MainBranch,QID2,Which of the following options best describes ...,True,MC,SAVR
Employment,QID24,Which of the following best describes your cur...,False,MC,MAVR
Country,QID6,"Where do you live? <span style=""font-weight: b...",True,MC,DL
US_State,QID7,<p>In which state or territory of the USA do y...,False,MC,DL
UK_Country,QID9,In which part of the United Kingdom do you liv...,False,MC,DL
S2,QID190,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
EdLevel,QID25,Which of the following best describes the high...,False,MC,SAVR
Age1stCode,QID149,At what age did you write your first line of c...,False,MC,MAVR
LearnCode,QID276,How did you learn to code? Select all that apply.,False,MC,MAVR
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL
DevType,QID31,Which of the following describes your current ...,False,MC,MAVR
OrgSize,QID29,Approximately how many people are employed by ...,False,MC,MAVR
Currency,QID50,Which currency do you use day-to-day? If your ...,True,MC,SB
CompTotal,QID51,What is your current total compensation (salar...,False,TE,SL
CompFreq,QID52,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
S3,QID61,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Language,QID233,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
Database,QID262,Which <b>database environments </b>have you do...,False,Matrix,Likert
Platform,QID263,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
Webframe,QID264,Which <strong>web frameworks </strong><span st...,False,Matrix,Likert
MiscTech,QID265,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
ToolsTech,QID275,Which <strong>tools</strong> have you done ext...,False,Matrix,Likert
NEWCollabTools,QID274,Which <strong>development environments</strong...,False,Matrix,Likert
OpSys,QID71,What is the primary operating system in which ...,False,MC,SAVR
NEWStuck,QID243,What do you do when you get stuck on a problem...,False,MC,MAVR
S4,QID91,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
NEWSOSites,QID266,Which of the following Stack Overflow sites ha...,False,MC,MAVR
SOVisitFreq,QID100,How frequently would you say you visit Stack O...,False,MC,MAVR
SOAccount,QID101,Do you have a Stack Overflow account?,False,MC,MAVR
SOPartFreq,QID102,How frequently would you say you participate i...,False,MC,MAVR
SOComm,QID106,Do you consider yourself a member of the Stack...,False,MC,MAVR
NEWOtherComms,QID267,Are you a member of any other online developer...,False,MC,MAVR
NEWOtherCommsNames,QID268,Please name up to 5 other online developer com...,False,Matrix,Likert
S5,QID121,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
Age,QID127,What is your age?,False,MC,MAVR
Gender,QID122,"Which of the following describe you, if any? P...",False,MC,MAVR
Trans,QID153,Do you identify as transgender?,False,MC,MAVR
Sexuality,QID136,"Which of the following describe you, if any? P...",False,MC,MAVR
Ethnicity,QID126,"Which of the following describe you, if any? P...",False,MC,MAVR
Accessibility,QID124,"Which of the following describe you, if any? P...",False,MC,MAVR
MentalHealth,QID125,"Which of the following describe you, if any? P...",False,MC,MAVR
S6,QID131,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
SurveyLength,QID132,How do you feel about the length of the survey...,False,MC,MAVR
SurveyEase,QID133,How easy or difficult was this survey to compl...,False,MC,MAVR

### Para definir a coluna _ResponseId_ como índice aquando da leitura do CSV com as respostas

In [39]:
answers = pd.read_csv("stack-overflow-developer-survey-2021/survey_results_public.csv", index_col = "ResponseId")

In [40]:
answers

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,2,"Developer, full-stack","Just me - I am a freelancer, sole proprietor, ...",XOF\tWest African CFA franc,200000.0,Monthly,NaN,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,Firebase;MariaDB;MongoDB;MySQL;PostgreSQL;Redi...,NaN,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Django;Express;jQuery;Laravel;React.js;Ruby on...,Flutter;Qt,NaN,Git;Unity 3D;Unreal Engine,Docker;Git;Kubernetes,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Emacs;IntelliJ;PHPStorm;PyCharm;RStudio;Sublim...,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,3,"Developer, back-end",20 to 99 employees,CAD\tCanadian dollar,90000.0,Monthly,Bash/Shell;JavaScript;Node.js;Python,Go;Rust,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,NaN,Heroku,AWS;DigitalOcean,Django;Express;Flask;React.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,Kubernetes;Terraform,PyCharm;Sublime Text,NaN,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,4,"Developer, front-end;Developer, full-stack;Dev...",I don’t know,BRL\tBrazilian real,7700.0,Monthly,Delphi;Elixir;HTML/CSS;Java;JavaScript,Elixir;HTML/CSS;Java;JavaScript;Node.js;PHP;SQ...,Oracle;PostgreSQL,Elasticsearch;MongoDB;MySQL;Oracle;PostgreSQL;...,Microsoft Azure,AWS,Angular;Spring,Express;Laravel;Spring;Symfony,NaN,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Visual Studio Code,IntelliJ;PHPStorm;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per week,Yes,A few times per week,"Yes, somewhat",No,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

### Para aceder ao significado da coluna _NEWStuck_

In [41]:
questions.loc["NEWStuck", "question"]

'What do you do when you get stuck on a problem? Select all that apply.'

## Filtros

### Para filtrar as respostas dadas por mulheres

In [42]:
answers[answers["Gender"] == "Woman"]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
8,I am a student who is learning to code,"Student, full-time",Malaysia,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Online Courses or Certification,4,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript;PHP;Ruby;SQL;TypeScript,Ruby,MySQL;PostgreSQL;SQLite,PostgreSQL,Heroku;Microsoft Azure,Heroku,Angular.js;jQuery;Ruby on Rails,Ruby on Rails,NaN,NaN,NaN,NaN,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent;Multiracial;South...,None of the above,None of the above,Appropriate in length,Easy,NaN
40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;JavaScript;Node.js;Python,NaN,MongoDB,NaN,Heroku,NaN,Express;jQuery;React.js,NaN,Keras;NumPy;TensorFlow,NaN,Flow;Unity 3D,NaN,IPython/Jupyter;Sublime Text;Visual Studio Code,NaN,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",Yes,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
45,I am a developer by profession,Employed full-time,France,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,6,Less than 1 year,"Developer, full-stack",10 to 19 employees,EUR European Euro,NaN,NaN,HTML/CSS;JavaScript;Node.js;Python;R;SQL;TypeS...,NaN,PostgreSQL,NaN,Google Cloud Platform,NaN,Django;Flask;Vue.js,NaN,NumPy;TensorFlow,NaN,Docker;Git;Kubernetes,NaN,Visual Studio,NaN,Linux-based,Call a coworker or friend;Google it,Stack Overflow,A few times per week,No,NaN,Neutral,No,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
54,I am a developer by profession,"Student, full-time",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,Friend or family member;Online Courses or Cert...,6,NaN,NaN,NaN,NaN,NaN,NaN,PowerShell,Python,NaN,NaN,Google Cloud Platform,Google Cloud Platform,NaN,NaN,Keras;NumPy;Torch/PyTorch,NumPy;Torch/PyTorch,Git,Git,Notepad++;PyCharm,PyCharm,Linux-based,Visit Stack Overflow;Google it;Panic,Stack Overflow;Stack Exchange,A few times per week,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have an anxiety disorder,Appropriate in length,Easy,NaN
83,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Associate degree (A.A., A.S., etc.)",11 - 17 years,School,5,NaN,NaN,NaN,NaN,NaN,NaN,Dart;HTML/CSS;JavaScript;PHP;TypeScript,Dart;HTML/CSS;JavaScript;PHP;TypeScript,MariaDB;MongoDB;MySQL,MariaDB;MongoDB;MySQL,NaN,NaN,jQuery;Laravel;React.js;Vue.js,jQuery;Laravel;React.js,Flutter;React Native,Flutter,Docker;Git,Docker;Git,PHPStorm;Visual Studio Code;Webstorm;Xcode,PHPStorm;Webstorm;Xcode,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",No,18-24 years old,Woman,No,Bisexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83395,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,9,4,"Developer, front-end",100 to 499 employees,INR\tIndian rupee,683000.0,Yearly,HTML/CSS;Java;JavaScript;TypeScript,Node.js,Firebase;MySQL,MongoDB;MySQL;Oracle,NaN,NaN,Angular;Angular.js;jQuery;Spring,Express;React.js;Vue.js,NaN,NaN,Git,NaN,Eclipse;IntelliJ;Notepad++;Sublime Text;Visual...,NaN,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,25-34 years old,Woman,No,NaN,Prefer not to say,None of the above,Prefer not to say,Too long,Neither easy nor difficult,9536.0
83403,I am a developer by profession,Employed full-time,South Korea,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,Less than 1 year,"Developer, mobile;Developer, front-end;Develop...",2 to 9 employees,KRW\tSouth Korean won,1860000.0,Monthly,C;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.js,Dart;Kotlin,Firebase;MariaDB;MongoDB;MySQL;Oracle,Firebase;MySQL;Oracle,AWS;Heroku,AWS,Django;jQuery,React.js;Vue.js,Flutter,Flutter;React Native,Git,Git;Unity 3D,Android Studio;Eclipse;IntelliJ;PyCharm;Visual...,Android Studio;Visual Studio Code;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",No,18-24 years old,Woman,No,Bisexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,18708.0
83414,"I used to be a developer by profession, but no...",Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",5,3,Other (please specify):,NaN,NaN,NaN,NaN,Bash/Shell;C#;HTML/CSS;Java;JavaScript;Matlab;...,Go;Python,Microsoft SQL Server;MySQL;Oracle,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,ASP.NET;ASP.NET Core ;jQuery,Angular;Angular.js;React.js;Spring;Vue.js,.NET Framework;.NET Core / .NET 5,NaN,NaN,NaN,Eclipse;Notepad++;RStudio;Visual Studio,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",No,35-44 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83422,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Norway,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,20,15,"Developer, full-stack",100 to 499 employees,NOK\tNorwegian krone,820000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Node.js;Python;...,Bash/Shell;HTML/CSS;JavaScript;Node.js;Python;...,MySQL,DynamoDB;MySQL;Redis,AWS,AWS;Google Cloud Platform;Microsoft Azure,Django;jQuery;React.js,Django;Vue.js,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Terraform,IntelliJ;PyCharm;Vim,Atom;IntelliJ;PyCharm;Vim;Webstorm,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, definitely",No,35-44 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,88474.0
83433,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,School,5,Less than 1 year,"Developer, back-end","10,000 or more employees",CAD\tCanadian dollar,106000.0,Yearly,Ruby,Java;Ruby;TypeScript,MySQL;PostgreSQL,NaN,Google Cloud Platform;Heroku,NaN,Flask;React.js;Ruby on Rails;Vue.js,NaN,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,Docker;Git;Kubernetes;Yarn,NaN,Atom;IPython/Jupyter;Vim;Visual Studio Code,NaN,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,"No, not really",No,18-24 years old,Woman,No,Straight / Heterosexual,East Asian,None of the above,None of the above,Appropriate in length,Easy,80169.0

### Para aceder ao nível de educação das mulheres

In [43]:
answers.loc[answers["Gender"] == "Woman", "EdLevel"]

ResponseId
8             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
40            Bachelor’s degree (B.A., B.S., B.Eng., etc.)
45         Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
54         Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
83                     Associate degree (A.A., A.S., etc.)
                               ...
83395         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83403    Secondary school (e.g. American high school, G...
83414      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
83422         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83433         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 4120, dtype: object

### Para aceder ao nível de educação das mulheres cuja idade está entre os 18 e os 24 anos

In [44]:
answers.loc[(answers["Gender"] == "Woman") & (answers["Age"] == "18-24 years old"), "EdLevel"]

ResponseId
8             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
40            Bachelor’s degree (B.A., B.S., B.Eng., etc.)
45         Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
83                     Associate degree (A.A., A.S., etc.)
143           Bachelor’s degree (B.A., B.S., B.Eng., etc.)
                               ...
83256    Secondary school (e.g. American high school, G...
83350    Secondary school (e.g. American high school, G...
83379      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
83403    Secondary school (e.g. American high school, G...
83433         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 1282, dtype: object

### Para aceder ao nível de educação das pessoas que são mulheres ou cuja idade está entre os 18 e os 24 anos

In [45]:
answers.loc[(answers["Gender"] == "Woman") | (answers["Age"] == "18-24 years old"), "EdLevel"]

ResponseId
2        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
3        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
6        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
8        Bachelor’s degree (B.A., B.S., B.Eng., etc.)
22       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
                             ...
83427    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83432    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83433    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83436    Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83439              Professional degree (JD, MD, etc.)
Name: EdLevel, Length: 23831, dtype: object

### Para aceder ao nível de educação das pessoas que não são mulheres e a cuja idade não está entre os 18 e os 24 anos

In [46]:
answers.loc[~((answers["Gender"] == "Woman") | (answers["Age"] == "18-24 years old")), "EdLevel"]

ResponseId
1        Secondary school (e.g. American high school, G...
4          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
5          Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
7        Secondary school (e.g. American high school, G...
9             Bachelor’s degree (B.A., B.S., B.Eng., etc.)
                               ...
83431      Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
83434         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83435         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
83437    Secondary school (e.g. American high school, G...
83438         Bachelor’s degree (B.A., B.S., B.Eng., etc.)
Name: EdLevel, Length: 59608, dtype: object

### Para aceder ao país, às linguagens com que já trabalharam e à compensação total das pessoas cuja compensação total é superior a 70000$

In [47]:
answers.loc[answers["CompTotal"] > 70000, ["Country", "LanguageHaveWorkedWith", "CompTotal"]]

,Country,LanguageHaveWorkedWith,CompTotal
ResponseId,,,
13,Germany,C;C++;Java;Perl;Ruby,71500.0
25,Germany,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,72000.0
27,Switzerland,C++;Python,80000.0
30,Russian Federation,Delphi;Java;SQL,200000.0
37,United States of America,Assembly;C;Java;Kotlin;Rust,103000.0
...,...,...,...
83433,Canada,Ruby,106000.0
83434,Brazil,Java;JavaScript;Kotlin;Objective-C;TypeScript,80000.0
83435,United States of America,Clojure;Kotlin;SQL,160500.0
83436,Benin,NaN,200000.0
83438,Canada,Bash/Shell;JavaScript;Node.js;Python,90000.0

### Para aceder às respostas cujo país toma o valor de Alemanha, Suiça ou Itália

In [48]:
countries = ["Germany", "Switzerland", "Italy"]

answers.loc[answers["Country"].isin(countries)]

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
13,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,15,6,"Developer, desktop or enterprise applications;...","1,000 to 4,999 employees",EUR European Euro,71500.0,Yearly,C;C++;Java;Perl;Ruby,Rust,NaN,NaN,NaN,NaN,Ruby on Rails,NaN,Qt,NumPy;TensorFlow,Git,Docker;Kubernetes,Vim,Vim;Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Appropriate in length,Easy,77290.0
21,I am a developer by profession,"Student, full-time",Germany,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Colleague,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Java;Python,Java;Python,MySQL;PostgreSQL,MySQL;PostgreSQL,AWS,NaN,Spring,Spring,NumPy;Pandas,NumPy;Pandas,Git,Git,IntelliJ;PyCharm,IntelliJ;PyCharm,Windows,Visit Stack Overflow;Google it,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,No,25-34 years old,Man,No,NaN,White or of European descent,NaN,NaN,Too long,Easy,NaN
25,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,School;Friend or family member,26,18,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",EUR European Euro,72000.0,Yearly,C++;HTML/CSS;Java;JavaScript;Kotlin;Node.js;Ty...,HTML/CSS;Java;JavaScript;Kotlin;Node.js;TypeSc...,DynamoDB;PostgreSQL,PostgreSQL,AWS;Heroku,AWS;Heroku,Angular;Express;Spring,Angular;Express;Spring,NaN,NaN,Docker;Git;Kubernetes,Docker;Git;Kubernetes,Android Studio;IntelliJ;Visual Studio Code,Android Studio;IntelliJ;Visual Studio Code,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per week,"Yes, somewhat",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,77831.0
26,"I am not primarily a developer, but I write co...",Employed full-time,Germany,NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",25 - 34 years,Coding Bootcamp;Online Forum,12,12,Academic researcher;Database administrator;Sci...,100 to 499 employees,EUR European Euro,NaN,Monthly,HTML/CSS;Julia;Python;R;SQL,HTML/CSS;Julia;Python;R;SQL,PostgreSQL;SQLite,PostgreSQL,NaN,NaN,Django;jQuery,NaN,NumPy;Pandas;TensorFlow,NumPy;Pandas;TensorFlow,Docker;Git,Git,Atom;RStudio;Vim,Atom;RStudio;Vim,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,Neutral,No,35-44 years old,"Non-binary, genderqueer, or gender non-conforming",Prefer not to say,Bisexual,White or of European descent,None of the above,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
27,"I am not primarily a developer, but I write co...",Employed full-time,Switzerland,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,Other (please specify):,14,5,Academic researcher;Scientist;Student,"5,000 to 9,999 employees",CHF\tSwiss franc,80000.0,Yearly,C++;Python,C++;Go;Java;Python,NaN,NaN,NaN,NaN,NaN,NaN,NumPy;Pandas,NaN,Docker;Git,Docker;Git,IntelliJ;IPython/Jupyter,IntelliJ;IPython/Jupyter,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,81319.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83329,I am a student who is learning to code,"Student, full-time",Italy,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,C,C;C++;Python;Rust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Visual Studio Code,Visual Studio Code,Windows Subsystem for Linux (WSL),Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83337,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",16,4,"Developer, mobile;Developer, front-end;Develop...",2 to 9 employees,EUR European Euro,25000.0,Yearly,Assembly;Bash/Shell;C;Delphi;Haskell;HTML/CSS;...,Bash/Shell;C#;HTML/CSS;JavaScript;Node.js;PHP;...,DynamoDB;MariaDB;Microsoft SQL Server;MongoDB;...,DynamoDB;MariaDB;MySQL;SQLite,AWS;DigitalOcean;Google Cloud Platform;Microso...,AWS,Angular;Angular.js;ASP.NET;ASP.NET Core ;Drupa...,Angular;Angular.js;jQuery;React.js;Symfony,.NET Framework;.NET Core / .NET 5;React Native,React Native,Docker;Git;Kubernetes;Unreal Engine;Yarn,Docker;Git,Android Studio;Atom;Eclipse;IntelliJ;NetBeans;...,PHPStorm;Visual Studio Code;Webstorm,MacOS,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Daily or almost daily,No,NaN,Not sure,No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,27025.0
83414,"I used to be a developer by profession, but no...",Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",5,3,Other (please specify):,NaN,NaN,NaN,NaN,Bash/Shell;C#;HTML/CSS;Java;JavaScript;Matlab;...,Go;Python,Microsoft SQL Server;MySQL;Oracle,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,ASP.NET;ASP.NET Core ;jQuery,Angular;Angular.js;React.js;Spring;Vue.js,.NET Framework;.NET Core / .NET 5,NaN,NaN,NaN,Eclipse;Notepad++;RStudio;Visual Studio,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",No,35-44 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83416,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",33,22,"Developer, back-end",100 to 499 employees,EUR European Euro,65.0,Yearly,C;C#;Java,C;C#;Java,NaN,NaN,NaN,NaN,NaN,NaN,.NET Framework,.NET Framework,Git,Git,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, somewhat",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,70.0
83425,I am a developer by profession,Employed full-time,Germany,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",17,12,"Developer, full-stack;Other (please specify):;...","10,000 or more employees",EUR European Euro,120000.0,Yearly,Bash/Shell;C;Go;Java;JavaScript;Perl;SQL,Bash/Shell;Java;Rust;SQL,MySQL,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform,NaN,Angular.js;Spring;Vue.js,Spring,NaN,NaN,Docker;Git;Kubernetes;Terraform,Docker;Git;Kubernetes,IntelliJ;Neovim;Vim,IntelliJ;Neovim,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"Or, in your own words:",Appropriate in length,Easy,129718.0

### Para aceder às respostas cujo campo com as linguagens com que já trabalharam inclui Python

In [49]:
answers.loc[answers["LanguageHaveWorkedWith"].str.contains("Python", na = False), "LanguageHaveWorkedWith"]

ResponseId
2                                        JavaScript;Python
3                                 Assembly;C;Python;R;Rust
5                           Bash/Shell;HTML/CSS;Python;SQL
6        C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...
10                                              C++;Python
                               ...
83430               HTML/CSS;PHP;PowerShell;Python;SQL;VBA
83431          APL;Clojure;LISP;Python;Ruby;SQL;TypeScript
83432    C#;Dart;HTML/CSS;Java;JavaScript;Kotlin;Node.j...
83437                                   Groovy;Java;Python
83438                 Bash/Shell;JavaScript;Node.js;Python
Name: LanguageHaveWorkedWith, Length: 39792, dtype: object

## Alterar linhas e colunas

### Para alterar os rótulos das colunas

In [50]:
students_df.columns = ["university course", "full name", "id"]

In [51]:
students_df

  university course            full name     id
0           Direito  Francisco Gonçalves  76433
1          Biologia         Carlos Costa  78944
2       Arquitetura        Maria Almeida  74822

In [52]:
students_df.rename(columns={"university course": "course", "full name": "name", "id": "number"}, inplace = True)

In [53]:
students_df

        course                 name  number
0      Direito  Francisco Gonçalves   76433
1     Biologia         Carlos Costa   78944
2  Arquitetura        Maria Almeida   74822

In [54]:
students_df.columns = [x.upper() for x in students_df.columns]

In [55]:
students_df

        COURSE                 NAME  NUMBER
0      Direito  Francisco Gonçalves   76433
1     Biologia         Carlos Costa   78944
2  Arquitetura        Maria Almeida   74822

### Para alterar a informação do terceiro aluno

In [56]:
students_df.loc[2] = ["Medicina", "Fabiana Silva", "74877"]

In [57]:
students_df

     COURSE                 NAME NUMBER
0   Direito  Francisco Gonçalves  76433
1  Biologia         Carlos Costa  78944
2  Medicina        Fabiana Silva  74877

### Para alterar o nome do terceiro aluno

In [58]:
students_df.loc[2, "NAME"] = "Guilherme Costa"

In [59]:
students_df

     COURSE                 NAME NUMBER
0   Direito  Francisco Gonçalves  76433
1  Biologia         Carlos Costa  78944
2  Medicina      Guilherme Costa  74877

In [60]:
students_df.at[2, "NAME"] = "Fabiana Silva"

In [61]:
students_df

     COURSE                 NAME NUMBER
0   Direito  Francisco Gonçalves  76433
1  Biologia         Carlos Costa  78944
2  Medicina        Fabiana Silva  74877

### Para alterar o curso e o número do terceiro aluno

In [62]:
students_df.loc[2, ["COURSE", "NUMBER"]] = ["Arqueologia", "76877"]

In [63]:
students_df

        COURSE                 NAME NUMBER
0      Direito  Francisco Gonçalves  76433
1     Biologia         Carlos Costa  78944
2  Arqueologia        Fabiana Silva  76877

### Para alterar todos os números cujo valor seja 76877

In [64]:
students_df.loc[students_df["NUMBER"] == "76877", "NUMBER"] = 76855

In [65]:
students_df

        COURSE                 NAME NUMBER
0      Direito  Francisco Gonçalves  76433
1     Biologia         Carlos Costa  78944
2  Arqueologia        Fabiana Silva  76855

### Para passar todos os cursos para minúsculas

In [66]:
students_df["COURSE"] = students_df["COURSE"].str.lower()

In [67]:
students_df

        COURSE                 NAME NUMBER
0      direito  Francisco Gonçalves  76433
1     biologia         Carlos Costa  78944
2  arqueologia        Fabiana Silva  76855

### Para visualizar o comprimento de todos os nomes

In [68]:
students_df["NAME"].apply(len)

0    19
1    12
2    13
Name: NAME, dtype: int64

### Para visualizar o número de valores em cada linha

In [69]:
students_df.apply(len, axis = "columns")

0    3
1    3
2    3
dtype: int64

### Para colocar o prefixo em todos os números

In [70]:
def update_number(number):
    return "pg"+str(number)

In [71]:
students_df["NUMBER"] = students_df["NUMBER"].apply(update_number)

In [72]:
students_df

        COURSE                 NAME   NUMBER
0      direito  Francisco Gonçalves  pg76433
1     biologia         Carlos Costa  pg78944
2  arqueologia        Fabiana Silva  pg76855

### Para retirar o prefixo de todos os números

In [73]:
students_df["NUMBER"] = students_df["NUMBER"].apply(lambda x: x[2:])

In [74]:
students_df

        COURSE                 NAME NUMBER
0      direito  Francisco Gonçalves  76433
1     biologia         Carlos Costa  78944
2  arqueologia        Fabiana Silva  76855

### Para visualizar o mínimo de todas as colunas

In [75]:
students_df.apply(pd.Series.min)

COURSE     arqueologia
NAME      Carlos Costa
NUMBER           76433
dtype: object

In [76]:
students_df.apply(lambda x: x.min())

COURSE     arqueologia
NAME      Carlos Costa
NUMBER           76433
dtype: object

### Para aceder ao comprimento de todos os valores do DataFrame

In [77]:
students_df.applymap(len)

   COURSE  NAME  NUMBER
0       7    19       5
1       8    12       5
2      11    13       5

## Adicionar/remover linhas e colunas

### Para alterar os nomes Francisco Gonçalves e Carlos Costa

In [78]:
students_df["NAME"].map({"Francisco Gonçalves": "Francisco", "Carlos Costa": "Carlos"})

0    Francisco
1       Carlos
2          NaN
Name: NAME, dtype: object

In [79]:
students_df["NAME"] = students_df["NAME"].replace({"Francisco Gonçalves": "Francisco", "Carlos Costa": "Carlos"})

In [80]:
students_df

        COURSE           NAME NUMBER
0      direito      Francisco  76433
1     biologia         Carlos  78944
2  arqueologia  Fabiana Silva  76855

### Para criar uma nova coluna que vai ter o nome e o número separados por um hífen

In [81]:
students_df["NAME_NUMBER"] = students_df["NAME"] + " - " + students_df["NUMBER"]

In [82]:
students_df

        COURSE           NAME NUMBER            NAME_NUMBER
0      direito      Francisco  76433      Francisco - 76433
1     biologia         Carlos  78944         Carlos - 78944
2  arqueologia  Fabiana Silva  76855  Fabiana Silva - 76855

### Para eliminar colunas

In [83]:
students_df.drop(columns = ["NAME", "NUMBER"], inplace = True)

In [84]:
students_df

        COURSE            NAME_NUMBER
0      direito      Francisco - 76433
1     biologia         Carlos - 78944
2  arqueologia  Fabiana Silva - 76855

### Para criar duas novas colunas que vão ter a parte antes do hífen e a parte depois do hífen da coluna _NAME_NUMBER_

In [85]:
students_df[["NAME", "NUMBER"]] = students_df["NAME_NUMBER"].str.split(" - ", expand = True)

In [86]:
students_df

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855

### Para adicionar uma nova linha

In [87]:
students_df.append({"NAME": "Rui"}, ignore_index = True)

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3          NaN                    NaN            Rui    NaN

### Para adicionar um novo DataFrame

In [88]:
new_students = {
    "NAME": ["Vitor", "Joana", "Ricardo"],
    "NUMBER": [76133, 78144, 74122],
    "COURSE": ["Marketing", "Marketing", "Marketing"]
}

In [89]:
new_students_df = pd.DataFrame(new_students)

In [90]:
new_students_df

      NAME  NUMBER     COURSE
0    Vitor   76133  Marketing
1    Joana   78144  Marketing
2  Ricardo   74122  Marketing

In [91]:
students_df = students_df.append(new_students_df, ignore_index = True)

In [92]:
students_df

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122

### Para eliminar a sexta linha

In [93]:
students_df.drop(index = 5)

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144

### Para eliminar as linhas onde o nome toma o valor de Carlos

In [94]:
students_df.drop(index = students_df[students_df["NAME"] == "Carlos"].index)

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122

## Ordenar dados

### Para ordenar os valores da coluna _NAME_

In [95]:
students_df["NAME"].sort_values()

1           Carlos
2    Fabiana Silva
0        Francisco
4            Joana
5          Ricardo
3            Vitor
Name: NAME, dtype: object

### Para ordenar os valores segundo o curso

In [96]:
students_df.sort_values(by="COURSE")

        COURSE            NAME_NUMBER           NAME NUMBER
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
1     biologia         Carlos - 78944         Carlos  78944
0      direito      Francisco - 76433      Francisco  76433

### Para ordenar os valores por ordem decrescente segundo o curso

In [97]:
students_df.sort_values(by="COURSE", ascending = False)

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122

### Para ordenar os valores por ordem decrescente segundo o curso e, depois, segundo o nome

In [98]:
students_df.sort_values(by=["COURSE", "NAME"], ascending = False)

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
5    Marketing                    NaN        Ricardo  74122
4    Marketing                    NaN          Joana  78144

### Para ordenar os valores por ordem decrescente segundo o curso e, depois, por ordem crescente segundo o nome

In [99]:
students_df.sort_values(by=["COURSE", "NAME"], ascending = [False, True], inplace = True)

In [100]:
students_df

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122
3    Marketing                    NaN          Vitor  76133

### Para ordenar os valores segundo o índice

In [101]:
students_df.sort_index()

        COURSE            NAME_NUMBER           NAME NUMBER
0      direito      Francisco - 76433      Francisco  76433
1     biologia         Carlos - 78944         Carlos  78944
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva  76855
3    Marketing                    NaN          Vitor  76133
4    Marketing                    NaN          Joana  78144
5    Marketing                    NaN        Ricardo  74122

### Para visualizar os tipos das colunas

In [102]:
students_df.dtypes

COURSE         object
NAME_NUMBER    object
NAME           object
NUMBER         object
dtype: object

### Para alterar o tipo da coluna _NUMBER_

In [103]:
students_df["NUMBER"] = students_df["NUMBER"].astype(int)

### Para aceder aos 4 maiores valores da coluna _NUMBER_

In [104]:
students_df["NUMBER"].nlargest(4)

1    78944
4    78144
2    76855
0    76433
Name: NUMBER, dtype: int64

### Para aceder às linhas com os 4 maiores valores da coluna _NUMBER_

In [105]:
students_df.nlargest(4,"NUMBER")

        COURSE            NAME_NUMBER           NAME  NUMBER
1     biologia         Carlos - 78944         Carlos   78944
4    Marketing                    NaN          Joana   78144
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva   76855
0      direito      Francisco - 76433      Francisco   76433

### Para aceder aos 4 menores valores da coluna _NUMBER_

In [106]:
students_df["NUMBER"].nsmallest(4)

5    74122
3    76133
0    76433
2    76855
Name: NUMBER, dtype: int64

### Para aceder às linhas com os 4 menores valores da coluna NUMBER

In [107]:
students_df.nsmallest(4,"NUMBER")

        COURSE            NAME_NUMBER           NAME  NUMBER
5    Marketing                    NaN        Ricardo   74122
3    Marketing                    NaN          Vitor   76133
0      direito      Francisco - 76433      Francisco   76433
2  arqueologia  Fabiana Silva - 76855  Fabiana Silva   76855

## Agrupar e agregar

### Para obter a mediana de todas as colunas com valores numéricos

In [108]:
answers.median()

CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

### Para obter a mediana da coluna _CompTotal_

In [109]:
answers["CompTotal"].median()

67000.0

### Para obter medidas de tendência e dispersão

In [110]:
answers.describe()

          CompTotal  ConvertedCompYearly
count  4.718300e+04         4.684400e+04
mean   2.119407e+69         1.184262e+05
std    4.603702e+71         5.272944e+05
min    0.000000e+00         1.000000e+00
25%    1.600000e+04         2.702500e+04
50%    6.700000e+04         5.621100e+04
75%    1.400000e+05         1.000000e+05
max    1.000000e+74         4.524131e+07

### Para obter o número de valores não nulos da coluna _CompTotal_

In [111]:
answers["CompTotal"].count()

47183

### Para obter o número de pessoas que responderam às diferentes opções da questão _SurveyEase_

In [112]:
answers["SurveyEase"].value_counts()

Easy                          63087
Neither easy nor difficult    18091
Difficult                       770
Name: SurveyEase, dtype: int64

### Para obter a percentagem de pessoas que responderam às diferentes opções da questão SurveyEase

In [113]:
answers["SurveyEase"].value_counts(normalize = True)

Easy                          0.769842
Neither easy nor difficult    0.220762
Difficult                     0.009396
Name: SurveyEase, dtype: float64

### Para agrupar os valores pelo país

In [114]:
country_group = answers.groupby(["Country"])

### Para obter os valores cujo país é Estados Unidos da América

In [115]:
country_group.get_group("United States of America")

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
6,I am a student who is learning to code,"Student, part-time",United States of America,Georgia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C#;C++;HTML/CSS;Java;JavaScript;Node.js;Powe...,C#;C++;Go;HTML/CSS;Java;JavaScript;Node.js;Obj...,MySQL;PostgreSQL;SQLite,Elasticsearch;Firebase;IBM DB2;MariaDB;Microso...,NaN,NaN,Express;Flask;jQuery;React.js,Express;Flask;jQuery;React.js,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;Qt;React Native;TensorFlow;...,Git,Docker;Git;Unity 3D;Unreal Engine,IPython/Jupyter;Notepad++;PyCharm;Sublime Text...,Android Studio;IPython/Jupyter;Vim;Visual Stud...,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, somewhat",No,18-24 years old,Prefer not to say,No,Straight / Heterosexual,Prefer not to say,None of the above,I have a concentration and/or memory disorder ...,Too long,Neither easy nor difficult,NaN
7,I code primarily as a hobby,I prefer not to say,United States of America,New Hampshire,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",3,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;JavaScript,HTML/CSS;JavaScript;PHP,NaN,NaN,NaN,NaN,jQuery,jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,Prefer not to say,Prefer not to say,No,NaN,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
16,I am a student who is learning to code,"Student, full-time",United States of America,Missouri,NaN,"Secondary school (e.g. American high school, G...",5 - 10 years,Other (please specify):,7,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell;Python,Bash/Shell;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Emacs;Neovim;Vim,Neovim;Vim,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,Neutral,No,Under 18 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Too long,Easy,NaN
37,I am a developer by profession,Employed full-time,United States of America,District of Columbia,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,Less than 1 year,"Developer, embedded applications or devices",20 to 99 employees,USD\tUnited States dollar,103000.0,Yearly,Assembly;C;Java;Kotlin;Rust,Assembly;Kotlin;Rust;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Git,Git,IntelliJ;PyCharm;Webstorm,Android Studio;IntelliJ;PyCharm;Sublime Text;W...,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,Prefer not to say,Too short,Easy,103000.0
38,I am a developer by profession,Employed full-time,United States of America,Massachusetts,NaN,Some college/university study without earning ...,18 - 24 years,"Other online resources (ex: videos, blogs, etc)",20,15,"Developer, back-end","1,000 to 4,999 employees",USD\tUnited States dollar,300000.0,Yearly,Go,Go;Rust,NaN,NaN,AWS;Google Cloud Platform;Microsoft Azure,NaN,NaN,NaN,NaN,NaN,Docker;Git;Terraform,Git;Terraform,Vim;Visual Studio Code,Vim;Visual Studio Code,MacOS,Google it;Do other work and come back later;Me...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83428,I am a developer by profession,Employed full-time,United States of America,Pennsylvania,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",13,2,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",USD\tUnited States dollar,86000.0,Weekly,Java;Python,C#;Java;Python,NaN,NaN,NaN,NaN,Angular;Flask,Angular,NaN,NaN,Ansible;Git;Terraform;Unity 3D,Ansible;Git;Terraform;Unity 3D,Eclipse;IntelliJ;NetBeans;Sublime Text;Visual ...,IntelliJ;Sublime Text;Visual Studio Code,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,"I have an anxiety disorder;Or, in your own words:",Too short,Easy,4300000.0
83430,I code primarily as a hobby,"Not employed, but looking for work",United States of America,Washington,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",6,NaN,Other (please specify):;Student,NaN,NaN,NaN,NaN,HTML/CSS;PHP;PowerShell;Python;SQL;VBA,C#;Go;HTML/CSS;Java;JavaScript;PHP;Python;SQL;VBA,MongoDB;MySQL;PostgreSQL,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,Heroku,AWS;Heroku;IBM Cloud or Watson;Microsoft Azure...,Django;Flask;jQuery,Angular.js;ASP.NET;ASP.NET Core ;Django;FastAP...,NumPy;Pandas,.NET Framework;.NET Core / .NET 5;NumPy;Pandas,Git,Docker;Git;Xamarin,Atom;Notepad++;Sublime Text;Visual Studio Code,Atom;Notepad++;Sublime Text;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,A few times per month or weekly,Not sure/can't remember,NaN,"Yes, somewhat",No,25-34 years old,"Man;Or, in your own words:",Yes,Queer,White or of European descent,I am unable to / find it difficult to walk or ...,I have an anxiety disorder,Appropriate in length,Neither easy nor difficult,NaN
83431,I am a developer by profession,Employed full-time,United States of America,Illinois,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",23,21,"Developer, front-end;Developer, full-stack;Dev...",10 to 19 employees,USD\tUnited States dollar,125000.0,Yearly,APL;Clojure;LISP;Python;Ruby;SQL;TypeScript,APL;Clojure;Haskell;LISP;R,MongoDB;MySQL;PostgreSQL;Redis,PostgreSQL,AWS;DigitalOcean;Google Cloud Platform;Heroku,AWS;DigitalOcean;Google Cloud Platform,Django;React.js;Ruby on Rails,NaN,NaN,NaN,Docker;Git,Docker;Git;Kubernetes;Unity 3D,Emacs;Vim,Emacs,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not really",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,125000.0
83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,5,"Developer, back-end",20 to 99 employees,USD\tUnited States dollar,160500.0,Yearly,Clojure;Kotlin;SQL,Clojure,Oracle;SQLite,SQLite,AWS,AWS,NaN,NaN,NaN,NaN,Docker;Git,Git;Kubernetes,IntelliJ;Sublime Text;Vim;Visual Studio Code,Sublime Text;Vim,MacOS,Call a coworker or friend;Google it,Stack Overflow;Stack Exchange,A few times per week,No,NaN,"No, not at all",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,4,Data scientist or machine learning specialist;...,"10,000 or more employees",USD\tUnited States dollar,1800.0,Weekly,Groovy;Java;Python,Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,DynamoDB;Redis,AWS;Google Cloud Platform,AWS,FastAPI;Flask,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Apache Spark;Hadoop;Keras;NumPy;Pandas;TensorFlow,Ansible;Docker;Git;Terraform,Docker;Git;Kubernetes;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,IntelliJ;IPython/Jupyter;Notepad++;Vim,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0

### Para obter o número de pessoas que responderam às diferentes opções da questão Age1stCode para cada país

In [116]:
country_group["Age1stCode"].value_counts()

Country      Age1stCode
Afghanistan  18 - 24 years           19
             Younger than 5 years    13
             11 - 17 years           12
             5 - 10 years             7
             25 - 34 years            4
                                     ..
Zimbabwe     11 - 17 years            9
             25 - 34 years            5
             5 - 10 years             2
             35 - 44 years            1
             Older than 64 years      1
Name: Age1stCode, Length: 992, dtype: int64

### Para obter o número de pessoas que moram na Índia que responderam às diferentes opções da questão Age1stCode

In [117]:
country_group["Age1stCode"].value_counts().loc["India"]

Age1stCode
11 - 17 years           4797
18 - 24 years           4279
5 - 10 years             695
25 - 34 years            490
Younger than 5 years     103
35 - 44 years             85
45 - 54 years             20
Older than 64 years        5
55 - 64 years              3
Name: Age1stCode, dtype: int64

### Para obter a mediana da compensação total para cada país

In [118]:
country_group["CompTotal"].median()

Country
Afghanistan                                63000.0
Albania                                   100000.0
Algeria                                    60000.0
Andorra                                    87000.0
Angola                                    130000.0
                                           ...
Venezuela, Bolivarian Republic of...        1000.0
Viet Nam                                18000000.0
Yemen                                        300.0
Zambia                                     12000.0
Zimbabwe                                     600.0
Name: CompTotal, Length: 181, dtype: float64

### Para obter a mediana e a média da compensação total para cada país

In [119]:
country_group["CompTotal"].agg(["median", "mean"])

                                          median          mean
Country
Afghanistan                              63000.0  5.845616e+05
Albania                                 100000.0  2.504897e+06
Algeria                                  60000.0  1.791122e+05
Andorra                                  87000.0  9.892500e+04
Angola                                  130000.0  3.387364e+05
...                                          ...           ...
Venezuela, Bolivarian Republic of...      1000.0  5.110863e+07
Viet Nam                              18000000.0  5.330125e+07
Yemen                                      300.0  8.436429e+04
Zambia                                   12000.0  3.455264e+04
Zimbabwe                                   600.0  1.135846e+03

[181 rows x 2 columns]

### Para obter a percentagem de pessoas que já trabalharam com Python para cada país

In [120]:
num_work_python = country_group["LanguageHaveWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

In [121]:
num_people_country = answers["Country"].value_counts()

In [122]:
python_df = pd.concat([num_work_python, num_people_country], axis="columns")

In [123]:
python_df["pct_work_python"] = (python_df["LanguageHaveWorkedWith"]/python_df["Country"])*100

In [124]:
python_df

,LanguageHaveWorkedWith,Country,pct_work_python
Afghanistan,20,65,30.769231
Albania,30,73,41.095890
Algeria,19,46,41.304348
Andorra,4,12,33.333333
Angola,5,27,18.518519
...,...,...,...
"Venezuela, Bolivarian Republic of...",43,104,41.346154
Viet Nam,173,386,44.818653
Yemen,6,20,30.000000
Zambia,12,22,54.545455
Zimbabwe,17,36,47.222222

## Limpar dados

### Para criar um novo DataFrame com dados em falta

In [125]:
people = {
    "first": ["Ana", "Bruno", "Hugo", "Pedro", np.nan, None, "NA"],
    "last": ["Fernandes", "Ramalho", "Pimentel", "Santos", np.nan, np.nan, "Missing"],
    "email": ["AnaFernandes@gmail.com", "BrunoRamalho@gmail.com", "HugoPimentel@gmail.com", None, np.nan, "Anonimo@gmail.com", "NA"],
    "age": [34, 67, 45, 45, None, None, "Missing"]
}

In [126]:
people_df = pd.DataFrame(people)

In [127]:
people_df

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
3  Pedro     Santos                    None       45
4    NaN        NaN                     NaN     None
5   None        NaN       Anonimo@gmail.com     None
6     NA    Missing                      NA  Missing

### Para eliminar as linhas que tenham um ou mais campos com _NaN_ ou _None_

In [128]:
people_df.dropna()

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
6     NA    Missing                      NA  Missing

### Para eliminar as linhas que tenham todos os campos com _NaN_ ou _None_

In [129]:
people_df.dropna(how = "all")

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
3  Pedro     Santos                    None       45
5   None        NaN       Anonimo@gmail.com     None
6     NA    Missing                      NA  Missing

### Para eliminar as colunas que tenham _NaN_ ou _None_

In [130]:
people_df.dropna(axis = "columns")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

### Para eliminar as linhas cujo email seja _NaN_ ou _None_

In [131]:
people_df.dropna(subset=["email"])

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
5   None        NaN       Anonimo@gmail.com     None
6     NA    Missing                      NA  Missing

### Para eliminar as linhas cujo último nome ou email sejam _NaN_ ou _None_

In [132]:
people_df.dropna(subset=["last", "email"])

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
6     NA    Missing                      NA  Missing

### Para substituir _NA_ por _NaN_

In [133]:
people_df.replace("NA", np.nan, inplace=True)

In [134]:
people_df

   first       last                   email      age
0    Ana  Fernandes  AnaFernandes@gmail.com       34
1  Bruno    Ramalho  BrunoRamalho@gmail.com       67
2   Hugo   Pimentel  HugoPimentel@gmail.com       45
3  Pedro     Santos                    None       45
4    NaN        NaN                     NaN     None
5   None        NaN       Anonimo@gmail.com     None
6    NaN    Missing                     NaN  Missing

### Para substituir _Missing_ por _NaN_

In [135]:
people_df.replace("Missing", np.nan, inplace=True)

In [136]:
people_df

   first       last                   email   age
0    Ana  Fernandes  AnaFernandes@gmail.com  34.0
1  Bruno    Ramalho  BrunoRamalho@gmail.com  67.0
2   Hugo   Pimentel  HugoPimentel@gmail.com  45.0
3  Pedro     Santos                    None  45.0
4    NaN        NaN                     NaN   NaN
5   None        NaN       Anonimo@gmail.com   NaN
6    NaN        NaN                     NaN   NaN

### Para visualizar quais são os campos com valores em falta

In [137]:
people_df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

### Para preencher todos os valores em falta com _MISSING_

In [138]:
people_df.fillna("MISSING")

     first       last                   email      age
0      Ana  Fernandes  AnaFernandes@gmail.com     34.0
1    Bruno    Ramalho  BrunoRamalho@gmail.com     67.0
2     Hugo   Pimentel  HugoPimentel@gmail.com     45.0
3    Pedro     Santos                 MISSING     45.0
4  MISSING    MISSING                 MISSING  MISSING
5  MISSING    MISSING       Anonimo@gmail.com  MISSING
6  MISSING    MISSING                 MISSING  MISSING

### Para calcular a média de idades sem os valores em falta

In [139]:
people_df["age"].mean()

47.75

### Para visualizar os valores únicos da coluna idade

In [140]:
people_df["age"].unique()

array([34., 67., 45., nan])

### Para reconhecer _NA_ e _Missing_ como valores em falta aquando da leitura do CSV com as respostas

In [141]:
na_vals = ["NA", "Missing"]

answers = pd.read_csv("stack-overflow-developer-survey-2021/survey_results_public.csv", index_col = "ResponseId", na_values = na_vals)

## Ler/escrever dados

### Para obter um DataFrame com as respostas cujo país é Portugal

In [142]:
portugal_df = answers[answers["Country"] == "Portugal"]

### Para escrever o DataFrame num CSV

In [143]:
portugal_df.to_csv("stack-overflow-developer-survey-2021/survey_results_portugal.csv")

### Para escrever o DataFrame num TSV

In [144]:
portugal_df.to_csv("stack-overflow-developer-survey-2021/survey_results_portugal.tsv", sep = "\t")

### Para escrever o DataFrame num Excel

In [145]:
portugal_df.to_excel("stack-overflow-developer-survey-2021/survey_results_portugal.xlsx")

### Para ler o Excel

In [146]:
result = pd.read_excel("stack-overflow-developer-survey-2021/survey_results_portugal.xlsx", index_col = "ResponseId")

In [147]:
result

,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
41,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,Less than 1 year,5,"Developer, full-stack",20 to 99 employees,EUR European Euro,NaN,Monthly,C;C#;C++;Java;Kotlin;Python,Dart;Kotlin;Python;Swift,MongoDB;MySQL;Oracle;PostgreSQL,MongoDB;PostgreSQL,NaN,NaN,NaN,NaN,Flutter;NumPy,NaN,Git;Unity 3D,Git,Android Studio;IntelliJ;Sublime Text;Visual St...,Android Studio;IntelliJ;Sublime Text;Visual St...,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Daily or almost daily,No,NaN,Neutral,No,25-34 years old,Man,No,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
257,"I am not primarily a developer, but I write co...",Employed full-time,Portugal,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc...",9,3,"Developer, front-end;Developer, desktop or ent...","1,000 to 4,999 employees",EUR European Euro,700.0,Monthly,C#;HTML/CSS;Java;SQL;VBA,C#;HTML/CSS;Java;SQL;VBA,Microsoft SQL Server;MySQL,Microsoft SQL Server;MySQL,Microsoft Azure,Microsoft Azure,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, somewhat",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,9084.0
427,I code primarily as a hobby,"Student, full-time",Portugal,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Online Forum,5,NaN,NaN,NaN,NaN,NaN,NaN,C;Matlab;Python;Rust;SQL,Rust,PostgreSQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Git,Git,Visual Studio Code,Visual Studio Code,Linux-based,Visit Stack Overflow;Google it;Do other work a...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,Neutral,No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
439,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc...",8,7,"Developer, back-end",20 to 99 employees,EUR European Euro,2650.0,Monthly,Java;JavaScript;Python;SQL,Java;Kotlin;SQL,Elasticsearch;MySQL,Elasticsearch;MySQL;Redis,AWS,AWS;Google Cloud Platform,Spring,Spring,NumPy,NaN,Docker;Git,Docker;Git;Kubernetes,IntelliJ;Sublime Text,IntelliJ;Sublime Text,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,34380.0
455,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,2,"Developer, mobile;Developer, full-stack",20 to 99 employees,EUR European Euro,NaN,NaN,C#;JavaScript;Node.js;TypeScript,C#;JavaScript;Node.js;TypeScript,Firebase;Microsoft SQL Server;MongoDB;SQLite,Microsoft SQL Server;MongoDB;SQLite,Heroku,NaN,React.js,ASP.NET;ASP.NET Core ;React.js,.NET Framework;.NET Core / .NET 5,.NET Framework;.NET Core / .NET 5,Xamarin,Xamarin,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,Neutral,Yes,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,I am blind / have difficulty seeing,None of the above,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82962,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",18 - 24 years,School,9,2,"Developer, full-stack",20 to 99 employees,EUR European Euro,1321.0,Monthly,Java;JavaScript;SQL,Node.js,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Ora...,Elasticsearch,Heroku,NaN,jQuery;Spring,Express;React.js;Vue.js,NaN,NaN,Docker;Git,Ansible;Kubernetes,IntelliJ;Vim;Visual Studio Code,NaN,Linux-based,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not really",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,17136.0
83140,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,Some college/university study without earning ...,11 - 17 years,"Other online resources (ex: videos, blogs, etc)",2,2,"Developer, back-end",100 to 499 employees,EUR European Euro,NaN,Monthly,C#;Java;Python,Java;Python,IBM DB2;Microsoft SQL Server;MySQL;Oracle,NaN,IBM Cloud or Watson,NaN,NaN,NaN,.NET Framework,Qt;TensorFlow;Torch/PyTorch,NaN,NaN,Eclipse;Notepad++;Visual Studio,Android Studio;Eclipse;Notepad++;Visual Studio,Windows,Call a coworker or friend;Google it;Do other w...,Stack Overflow,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
83259,I am a student who is learning to code,"Student, full-time",Portugal,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",1,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Java;Python,C++;Java;JavaScript;Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eclipse;IntelliJ;Visual Studio Code,IntelliJ,Windows,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not at all",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
83312,"I am not primarily a developer, but I write co...",Employed full-time,Portugal,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Books / Physical media,33,30,Educator,20 to 99 employees,EUR European Euro,800.0,Monthly,PHP,PHP,MariaDB,MariaDB,NaN,NaN,ASP.NET,Laravel,.NET Framework,Flutter,NaN,NaN,Notepad++;Visual Studio,Visual Studio Code,Windows,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",No,45-54 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Too long,Easy,10380.0
83333,I am a developer by profession,Employed full-time,Portugal,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;School,8,5,"Developer, front-end;Developer, desktop or ent...",100 to 499 employees,EUR European Euro,43000.0,Yearly,HTML/CSS;JavaScript;Node.js;TypeScript,HTML/CSS;JavaScript;Node.js;TypeScript,PostgreSQL,PostgreSQL,NaN,NaN,Angular.js;Express;Gatsby;React.js;Vue.js,Gatsby;React.js;Vue.js,React Native,React Native,Docker;Git;Yarn,Deno;Docker;Git;Kubernetes;Yarn,Webstorm,Webstorm,MacOS,Go for a walk or other physical activity;Googl...,Stack Overflow,A few times per week,Yes,Less than once per month or monthly,"No, not really",No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,46482.0